# 1. Protect all source code files
*.c linguist-language=C
*.h linguist-language=C
*.py linguist-language=Python

# 2. Treat the compiled binary executable as a binary file so GitHub doesn't read it as text code
minicompiler binary
minicompiler linguist-documentation

# 3. Completely hide your compiler test files/expected outputs from language metrics
tests/** linguist-documentation
 
